<template>
  <div>
    <vue-plotly :data="graphData" :layout="layout" :options="options"/>

    <!-- :source="[{id:1,name:'abc'},{id:2,name:'def'}]" -->
    <autocomplete :source="suggestions" @enter="getVariable" placeholder="Add data to the plot">
      <input type="input" >
    </autocomplete>

    <br>
    <!-- Pls dont hurt me Marek -->
    <div
      v-if="chosenVariables.length == 0"
    >No data displayed.. Add some data using the textbox above!</div>

    <div class="field is-grouped is-grouped-multiline">
      <div class="control">
        <div class="tags are-medium">
          <div class="control" v-for="variable in this.chosenVariables" v-bind:key="variable">
            <div class="tags has-addons">
              <a class="tag is-link">{{variable}}</a>
              <a class="tag is-delete" v-on:click="deleteChosenVariable(variable)"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VuePlotly from "@statnett/vue-plotly";
import Autocomplete from "vuejs-auto-complete";


// TODO: HARDCODE IT SOMEWHERE ELSE
const variables = {
  TEMP: {
    timestamp: [],
    temp1: [],
    temp2: [],
    temp3: [],
    temp4: [],
    pressure: [],
    vbat: [],
    humid: []
  },
  GPS: {
    timestamp: [],
    hdop: [],
    hour: [],
    minute: [],
    second: [],
    lat: [],
    lon: [],
    height: []
  },
  AIR: {
    timestamp: [],
    millis: [],
    deviation: [],
    range: []
  },
  ACC: {
    timestamp: [],
    accx: [],
    accy: [],
    accz: [],
    gyrx: [],
    gyry: [],
    gyrz: []
  },
  RSSI: {
    timestamp: [],
    rssi: []
  }
};

let categories = {};
//filling the categories
for (let category of Object.keys(variables)) {
  for (let variable of Object.keys(variables[category])) {
    // this looks unclear AF. We have to consider better names for variables/categories
    if (variable != "timestamp") {
      categories[variable] = category;
    }
  }
}

let suggestions = [];
//filling suggestions
let iterator = 0;
for (let category of Object.keys(categories)) {
  suggestions.push({
    id: iterator++,
    name: category
  });
}

console.log(categories);

export default {
  components: {
    VuePlotly,
    Autocomplete
  },
  data: function() {
    return {
      layout: {},
      options: {
        responsive: true
        //autoResize: true
      },

      suggestions: suggestions,

      chosenVariables: ["temp2", "temp1"]
    };
  },

  methods: {
    getVariable(input) {
      if (this.chosenVariables.indexOf(input) == -1) {
        this.chosenVariables.push(input)
        }
    },

    deleteChosenVariable(variable) {
      const index = this.chosenVariables.indexOf(variable);

      if (index !== -1) {
        this.chosenVariables.splice(index, 1);
      }
    },

    dataSelected(data) {
      console.log(data);
    }
  },

  computed: {
    graphData() {
      return [
        {
          y: Array.from({ length: 40 }, () => Math.floor(Math.random() * 20)),
          x: Array.apply(null, { length: 40 }).map(Number.call, Number)
        }
      ];

      console.log("graph data refreh running");
      let output = [];

      console.log("aaa " + this.chosenVariables);
      for (let chosenVariable of this.chosenVariables) {
        console.log(chosenVariable);
        let category = categories[chosenVariable];
        let data = this.$store.state.data[category];
        output.push({
          x: data.map(a => a["timestamp"]),
          y: data.map(a => a[chosenVariable])
        });
      }

      return output;
    }
  }
};
</script>
