<template>
  <div>
    <!-- Nothing here, just some networking below -->
  </div>
</template>

<script>
import Vue from "vue";
import VueNativeSock from "vue-native-websocket";


Vue.use(VueNativeSock, 'ws://www.aaa.com:25565/', {
  reconnection: true, // (Boolean) whether to reconnect automatically (false)
  reconnectionAttempts: 5, // (Number) number of reconnection attempts before giving up (Infinity),
  reconnectionDelay: 3000, // (Number) how long to initially wait before attempting a new (1000)
})


export default {
  data: function() {
    return {
        received: "*nothing*"
    };
  },

  created: function () {
      let SELF = this
  
        this.$options.sockets.onmessage = function (event) {
          let packet = JSON.parse(event.data)
          //console.log("wheee")
          //console.log(packet["type"])
          SELF.$store.commit("pushData", packet)
      }
      
  },

  methods: {
      connect: function() {
          this.$socket.send('ayaya')
      }
  }
};
</script>

