<template>
  <section class="container">
    <div>
     <Websocket/>


    </div>
  </section>
</template>

<script>
import Websocket from "./../components/Websocket.vue";
//import Graph from "./../components/Graph.vue";

export default {
  components: {
    Websocket,
    //Graph
  }
};
</script>

<style>
</style>
