<template>
  <section class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <!-- navbar items, navbar burger... -->
      </div>
    </nav>
    <div>
     <Websocket/>

      <div class="columns">
        <div class="column">
          <Graph/>
        </div>
        <div class="column">
          <Graph/>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <Graph/>
        </div>
        <div class="column">
          <Graph/>
        </div>
      </div>


    </div>
  </section>
</template>

<script>
import Websocket from "./../components/Websocket.vue";
import Graph from "./../components/Graph.vue";

export default {
  components: {
    Websocket,
    Graph
  }
};
</script>

<style>
</style>
